.spacer {
	margin-top: 40px;
	margin-bottom: 40px;
}

.spacer-sm {
	margin-top: 20px;
	margin-bottom: 20px;
}

.btn-xl {
    padding: 1rem 1.5rem;
    font-size: 2rem;
	border-radius: 0.3rem;
	margin: 0.3rem;
}

#roundScore {
	font-size: 120%;
}

.switch-item {
	width: 220px;
}

.slider-item {
	margin-top: 10px;
	margin-bottom: 20px;
	display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.slider-tick-label-container {
	width: 260px !important;
	margin-left: -40px !important;
}

.slider-tick-label {
	width: 100px !important;
}

.custom-control-input {
	width: 50px;
	height: 20px;
}

/* Bootstrap Toggle v2.2.2 corrections for Bootsrtap 4*/
.toggle-off {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.toggle.off {
    border-color: rgba(0, 0, 0, .25);
}

.toggle-handle {
    background-color: white;
    border: thin rgba(0, 0, 0, .25) solid;
}

.dropdown-label {
	margin-left: 15px;
}
