#content {
	width: 80%;
	margin: auto;
	
	height: 95vh;
	overflow: auto;
	
	text-align: center;
	font-family: sans-serif;
	
	background-color: #996abd;
	padding: 20px;

	display: flex;
	flex-direction: column;
	align-items: center;

	box-sizing: border-box;
}

#roomCode {
	font-size: 250%;
	font-weight: bold;
	color: black;
	margin-bottom: 20px;
}

#playerList > .player {
	color: white;
	padding: 10px;
}

.spacer {
	margin-top: 5%;
	margin-bottom: 5%;
}

#score {
	font-size: 150%;
}

#pointsGame, #pointsQuestion {
	color: white;
}

#controls {
	margin-top: 20px;
}

#controls > input {
	margin-top: 8px;
	padding: 8px;
	font-size: 100%;
}